<style>
span.overflow-needed {
	display: block;
}

span.overflow-needed div {
	width: fit-content;
}

span.overflow-needed input {
	width: 180px;
	height: 25px;
}
</style>
<div ng-controller='lookupCtrl'>
	<table class="ux-tabl-form-multicol ux-margin-left-1t ux-padding-bottom-none ux-margin-top-none">
		<tbody class="tbllabel">
			<tr>
				<td width="100px;">
					<label class="tk-labl">Project ID</label>
				</td>
				<td width="200px;">
					<input type='text' ng-model="filters.projectIDText" ng-change="onProjectIdChange()" class='tk-width-13t' />
				</td>
				<td width="150px;">
					<label class="tk-labl">Business segment</label>
				</td>
				<td>
					<select class="size" ng-model="filters.busSegment" ng-change="onSegmentChange()" style="width: 170px;">
						<option value="">All</option>
						<option ng-repeat="busSegments in lookup.businessSegments" value="{{busSegments.key}}">{{busSegments.value}}</option>
					</select>
				</td>
				<td style="padding-left:20px;" ng-if="lookup.regionsList.length > 1">
					<span>
						<label class="tk-labl">Region</label>
							<span class="cux-icon-asterisk"></span>
					</span>
				</td>
				<td ng-if="lookup.regionsList.length > 1" >
					<select class="size" ng-model="filters.region" ng-change="onSegmentChange()" style="width: 170px;">
						<option value="">Select</option>
						<option ng-repeat="region in lookup.regionsList" value="{{region.key}}">{{region.value}}</option>
					</select>
				</td>
			</tr>
			<tr style="height: 15px;"></tr>
			<tr>
				<td width="100px;">
					<label class="tk-labl">Project name</label>
				</td>
				<td colspan='1' width="200px;">
					<select class="size" ng-model="filters.projectKey" style="width: 170px;" ng-change="onProjectChange()">
						<option selected="selected" value="">All</option>
						<option ng-repeat="project in filters.closeProjects" value="{{project.projKey}}">{{project.projName}}</option>
					</select>
				</td>	
				<td>
					<label class="tk-labl" width="150px;">Project year</label>
				</td>
				<td>
					<input type='text' ng-model="filters.projectYear"  ng-change="onProjectYearChange()" class='tk-width-13t' />
				</td>			
			</tr>
		</tbody>
	</table>
	<div style="padding-left: 13px; padding-top: 10px;">
		<span>
			<input type="button" value="Filter" ng-click="filter()" class="tk-btn-default-action   ux-btn-width" style="width: 90px;"/>
		</span> 
		<span>
			<input type="button" value="Clear" ng-click="clear()" class="tk-btn-default-action   ux-btn-width" style="width: 90px;"/>
		</span>
	</div>
</div>